$font-color: hsl(172, 5%, 29%);
$background1: hsl(170, 17%, 70%);
$background2: hsl(180, 17%, 98%);
$background3: rgb(33, 115, 221);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: $font-color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  width: 100%;
  @include flex-center;

  & .info-container {
    min-height: 40rem;
    width: 100%;
    max-width: 70rem;
    height: 80%;
    max-height: 50rem;
    @include flex-center;
    flex-direction: column;
    box-shadow: 0.1rem 0.1rem 1rem grey;
    & .top {
      flex: 0.3;
      width: 100%;
      background-color: $background1;
      @include flex-center;
      position: relative;

      & .img-outer {
        width: 13rem;
        height: 13rem;
        background-color: rgb(47, 131, 146);
        @include flex-center;
        border-radius: 50%;
        position: absolute;
        top: 50%;

        & .img-inner {
          width: 87%;
          height: 87%;
          border-radius: 50%;
          @include flex-center;
          overflow: hidden;

          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    & .bottom {
      flex: 0.7;
      width: 100%;
      padding-top: 3rem;
      background-color: $background2;
      @include flex-center;
      flex-direction: column;
      & .details {
        text-align: center;
        & p {
          font-size: 1.6rem;
          margin-bottom: 1rem;
          font-weight: 600;
        }
        & h3 {
          font-size: 2rem;
        }
      }
      & .buttons {
        margin: 4rem 0;

        & button {
          cursor: pointer;
          outline: none;
          background: transparent;
          padding: 0.6rem;
          border: none;
          margin: 0 1.5rem;
          .icon {
            font-size: 3rem;
            color: $font-color;
          }
        }
      }
      & .fetch-button {
        & button {
          cursor: pointer;
          background-color: $background3;
          border: none;
          padding: 0.5rem 1rem;
          color: white;
          font-size: 1.6rem;
          font-weight: bold;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
