* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #464e4d;
  font-size: 62.5%;
}

.container {
  background: #0f2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2c5364), color-stop(#203a43), to(#0f2027));
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .info-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem grey;
          box-shadow: 0.1rem 0.1rem 1rem grey;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  max-height: 50rem;
  max-width: 70rem;
  min-height: 40rem;
  width: 100%;
}

.container .info-container .top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #a5c0bb;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  position: relative;
  width: 100%;
}

.container .info-container .top .img-outer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f8392;
  border-radius: 50%;
  height: 13rem;
  position: absolute;
  top: 50%;
  width: 13rem;
}

.container .info-container .top .img-outer .img-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  height: 87%;
  overflow: hidden;
  width: 87%;
}

.container .info-container .top .img-outer .img-inner img {
  height: 100%;
  width: 100%;
}

.container .info-container .bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9fbfb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  padding-top: 3rem;
  width: 100%;
}

.container .info-container .bottom .details {
  text-align: center;
}

.container .info-container .bottom .details p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.container .info-container .bottom .details h3 {
  font-size: 2rem;
}

.container .info-container .bottom .buttons {
  margin: 4rem 0;
}

.container .info-container .bottom .buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 1.5rem;
  outline: none;
  padding: 0.6rem;
}

.container .info-container .bottom .buttons button .icon {
  color: #464e4d;
  font-size: 3rem;
}

.container .info-container .bottom .fetch-button button {
  background-color: #2173dd;
  border-radius: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=App.css.map */